;;;;;INDEX;;;;;
SLIDE.PER_PAGE_SHOW=4

INDEX_BLOCK.1.name=a
INDEX_BLOCK.1.con="category_id"
INDEX_BLOCK.1.value=1
INDEX_BLOCK.1.title="讲座"

INDEX_BLOCK.2.name=b
INDEX_BLOCK.2.con="category_id"
INDEX_BLOCK.2.value=2
INDEX_BLOCK.2.title="论坛"

INDEX_BLOCK.3.name=c
INDEX_BLOCK.3.con="category_id"
INDEX_BLOCK.3.value=3
INDEX_BLOCK.3.title="培训"

INDEX_BLOCK.4.name=d
INDEX_BLOCK.4.con="category_id"
INDEX_BLOCK.4.value=4
INDEX_BLOCK.4.title="访谈"
;;;;;END INDEX;;;;;
