;;;;;INDEX;;;;;
SLIDE.PER_PAGE_SHOW=4

INDEX_BLOCK.1.name=a
INDEX_BLOCK.1.con="category_id"
INDEX_BLOCK.1.value=1
INDEX_BLOCK.1.title="讲座"

INDEX_BLOCK.2.name=b
INDEX_BLOCK.2.con="category_id"
INDEX_BLOCK.2.value=2
INDEX_BLOCK.2.title="论坛"

INDEX_BLOCK.3.name=c
INDEX_BLOCK.3.con="category_id"
INDEX_BLOCK.3.value=3
INDEX_BLOCK.3.title="培训"

INDEX_BLOCK.4.name=d
INDEX_BLOCK.4.con="category_id"
INDEX_BLOCK.4.value=4
INDEX_BLOCK.4.title="比赛"
;
;INDEX_BLOCK.5.name=e
;INDEX_BLOCK.5.con="category_id"
;INDEX_BLOCK.5.value=5
;INDEX_BLOCK.5.title="租房"
;
;INDEX_BLOCK.6.name=f
;INDEX_BLOCK.6.con="category_id"
;INDEX_BLOCK.6.value=6
;INDEX_BLOCK.6.title="二手交易"

;INDEX_BLOCK.7.name=g
;INDEX_BLOCK.7.con="category_id"
;INDEX_BLOCK.7.value=7
;INDEX_BLOCK.7.title="家教"

;INDEX_BLOCK.8.name=h
;INDEX_BLOCK.8.con="category_id"
;INDEX_BLOCK.8.value=8
;INDEX_BLOCK.8.title="舞会"

;;;;;END INDEX;;;;;
