[routes]


# Web Page
GET /=SEHome->run

GET /login=SEHome->show_login
POST /login=SEHome->login

GET /club/login=SEHome->show_club_login
POST /club/login=SEHome->club_login

GET /student/login=SEHome->auth_login

GET /logout=SEHome->logout

#GET /list=SEEvent->show_by
GET /list=SEHome->run

###Feedback###
GET /feedback=SEHome->show_feedback
POST /feedback=SEHome->feedback

###Find###
GET /find=SEHome->show_find
GET /find/by=SEHome->find

###My###
GET /my=SEHome->my


#Club
#GET /club=SEClub->show_list
#GET /club/edit=SEClub->show_edit_info

POST /club/edit=SEClub->edit_info

# Event
GET /event/@eventID=SEEvent->show
GET /event/@eventID/photos=SEEvent->photos
GET /event/@eventID/discussion=SEEvent->discussion
GET /event/@eventID/participants=SEEvent->participants
# ajax
POST /event/handle=SEEvent->ajax_handle_event
POST /event/praise=SEStudent->praise_event
POST /event/join=SEStudent->join_event
POST /event/get_praise_info=SEHome->get_praise_info
POST /event/get_join_info=SEHome->get_join_info
POST /my/event/list=SEEvent->ajax_my_event_list
;客服管理员获取待审核活动列表
POST /event/list=SEEvent->ajax_event_list


GET /event/@eventID/edit=SEEvent->show_edit
GET /event/@eventID/del=SEEvent->del

;GET /event/@eventID/preview=SEEvent->preview

GET /event/@eventID/get/join/list=SEEvent->show_join_list

GET /create=SEEvent->show_create
POST /publish=SEEvent->publish
POST /draft=SEEvent->draft

#POST /edit=SEEvent->edit

GET /event/my=SEEvent->my
GET /joins/@eventID=SEEvent->joins

#ADMIN
GET /audit=SEService->show_audit
POST /audit/pass=SEService->pass
POST /audit/fail=SEService->fail

GET /test=SEHome->test

GET /user/add=SEAdmin->show_add_user
POST /user/add=SEAdmin->add_user
