body{
	padding-top:90px;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
}

.navbar .brand{
	color:#fff;
}

.social{
}
.featured{
	padding:0 0 10px 0;
}

h1{
	font-size:3em;
	padding:.5em 0;
}
h2, h3, h4, h5, h6{
	padding:.5em 0;
}

#foot{
	background:#f1f1f1;
	margin-top:20px;
	padding:25px 0;
}

section.meta{
	padding:10px;
	margin-bottom:10px;
	background:#f1f1f1;
}
section.meta p{
	padding:0; margin:0;
	line-height:28px;
}

.subnav-fixed {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 1020;
	border-color: 
	#D5D5D5;
	border-width: 0 0 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 
	white, 0 1px 5px 
	rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 
	white, 0 1px 5px 
	rgba(0, 0, 0, .1);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.subnav {
	width: 100%;
	height: 36px;
	background-color: 
	#EEE;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, 
	whiteSmoke 0%, 
	#EEE 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
	whiteSmoke), color-stop(100%,
	#EEE));
	background-image: -webkit-linear-gradient(top, 
	whiteSmoke 0%,
	#EEE 100%);
	background-image: -ms-linear-gradient(top, 
	whiteSmoke 0%,
	#EEE 100%);
	background-image: -o-linear-gradient(top, 
	whiteSmoke 0%,
	#EEE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, 
	whiteSmoke 0%,
	#EEE 100%);
	border: 1px solid 
	#E5E5E5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.subnav .nav > li > a {
	margin: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	border-left: 1px solid 
	whiteSmoke;
	border-right: 1px solid 
	#E5E5E5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: 
	#777;
	background-color: 
	#E9E9E9;
	border-right-color: 
	#DDD;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px 
	rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	box-shadow: inset 0 3px 5px 
	rgba(0, 0, 0, .05);
}

.comment{
	padding:5px 0;
}

@media (max-width: 480px) {
	body{ padding-top:0; }
	.subnav{ position:static; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	body{ padding-top:0; }
	.subnav{ position:static; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body{ padding-top:0; }
	.subnav{ position:static; }
}

/* Large desktop */
@media (min-width: 1200px) {  }
